[Desktop Entry]
Version=0.02
Type=Application
Name=The Slopes Launcher
Comment=Launches the Slopes
Exec=slopeslauncher
Categories=Games
Terminal=true
StartupNotify=false
StarwupWMClass=slopeslauncher